@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #000000;
  color-scheme: light;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}