@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #000000;
  color-scheme: light;
}

/* 🚀 TRAVA O PUXAR PARA BAIXO NO TELEMÓVEL */
html, body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  overscroll-behavior-y: none !important; 
  overscroll-behavior-x: none !important;
}